<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SkypeJabberProxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SkypeJabberProxy.Properties.Settings>
            <setting name="TransportHostname" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="TransportPort" serializeAs="String">
                <value>10437</value>
            </setting>
            <setting name="JabberID" serializeAs="String">
                <value />
            </setting>
        </SkypeJabberProxy.Properties.Settings>
    </userSettings>
</configuration>